<?xml version="1.0" encoding="utf-8"?>
<manifest package="jp.asahi.com.matometestapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TitleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".HomeActivity">
        </activity>
        <activity android:name=".DetailActivity">
        </activity>
        <activity android:name=".MemberRegistrationActivity">
        </activity>
        <activity android:name=".AuthenticationMailActivity">
        </activity>
        <activity android:name=".PasswordForgettingActivity">
        </activity>
        <activity android:name=".ExhibitionRequestTutorialOneActivity">
        </activity>
        <activity android:name=".ExhibitionRequestTutorialTwoActivity">
        </activity>
        <activity android:name=".ExhibitionRequestTutorialThreeActivity">
        </activity>
        <activity android:name=".ExhibitionRequestTutorialFourActivity">
        </activity>
        <activity android:name=".ExhibitionRequestTutorialFiveActivity">
        </activity>
        <activity android:name=".ExhibitionRequestTutorialSixActivity">
        </activity>
        <activity android:name=".ExhibitionRequestNoRegistrationActivity">
        </activity>
        <activity android:name=".DeliveryKitRequestActivity">
        </activity>
        <activity android:name=".TotalAssetsTransitionActivity">
        </activity>
    </application>

</manifest>